{% extends "base.html" %}

{% block title %}Add new expense category{% endblock %}

{% block body %}
<div class="welcome-container">
    <h1>
        Add new expense category
    </h1>
    {% if expenseCatModel.errors is not empty %}
    <p>
        Errors:
    </p>
    <ul>
        {% for error in expenseCatModel.errors %}
        <li>
            {{ error }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <script type="text/javascript">
        function showLimitInput() {
      var checkBox = document.getElementById("myCheck");
      var text = document.getElementById("inputAmount");

      if (checkBox.checked == true){
        text.style.display = "block";
        document.getElementById("inputAmount").required = true;

      } else {
        text.style.display = "none";
        document.getElementById("inputAmount").required = false;
      }
}
    </script>
    <form action="/ExpenseCat/create" id="formProfile" method="post">
        <label for="inputName">
            Name
        </label>
        <br/>
        <input autofocus="" class="form-control" id="inputName" name="name" placeholder="Insert name of category" required=""/>
        <br/>
        <input id="myCheck" onclick="showLimitInput()" type="checkbox">
            <label for="myCheck">
                Set monthly limit ({{ current_user.currency }})
            </label>
            <input autofocus="" class="form-control" id="inputAmount" min="0.01" name="maximum" placeholder="Insert monthly limit" step="0.01" style="display: none" type="number"/>
            <br/>
            <br/>
            <button class="btn btn-primary" type="submit">
                Save
            </button>
            <button class="btn btn-secondary" onclick="window.location.href='/ExpenseCat/show';" type="button">
                Cancel
            </button>
        </input>
    </form>
</div>
{% endblock %}
