body {
    margin-top: ;
    background-color: #181818;
}

.welcome-container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 30px;
    background-color: #212529;
    color: white;
}

h2 {
    font-size: 5em;
    text-align: center
}
h4 {
    margin-left: 20px;
}

.addNew {
  
    width: 229px;
    height: 229px;
    padding: 20px;
    /*border-style: solid;*/
    margin-left: 10px;
    margin-top: 10px;
    background-color: #212529;
    color: white;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.addNew:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: red;
    height: 7px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.addNew:hover:before, .addNew:focus:before, .addNew:active:before {
    right: 0;
}
.addNew:hover {
    cursor: pointer;
}

.addNew-income {    
}
.addNew-income:before {
     background: #3cff00;  
}

.addNew-expense {   
}
.addNew-expense:before {
     background: #ff0000;  
}

.addNew-customize {   
}
.addNew-customize:before {
     background: #00c5ff;  
}

.form-control {
    background-color: #212529; 
    color: white;
}

.form-control:focus {
    background-color: #212529; 
    color: white;
}


.alert-success {
    background-color: #3cff00;
    color: white;
    border-radius: 0px;
    border: 0px;
}

.alert-info {
    background-color: #00c5ff;
    color: white;
    border-radius: 0px;
    border: 0px;
}

.alert-warning {
    background-color: #ff0000;
    color: white;
    border-radius: 0px;
    border: 0px;
}

/*https://gist.github.com/evilmarty/3021338*/