body {
    margin-top: ;
}

.welcome-container {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 30px;
    background-color: #f8f9fa;
}

h2 {
    font-size: 5em;
    text-align: center
}
h4 {
    margin-left: 20px;
}

.addNew {
  
    width: 229px;
    height: 229px;
    padding: 15px;
    /*border-style: solid;*/
    margin-left: 10px;
    margin-top: 10px;
    background-color: #f8f9fa;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    text-align: center;
}
.addNew:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: red;
    height: 7px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.addNew:hover:before, .addNew:focus:before, .addNew:active:before {
    right: 0;
}
.addNew:hover {
    cursor: pointer;
}

.addNew-income {    
}
.addNew-income:before {
     background: #aad2af;  
}

.addNew-expense {   
}
.addNew-expense:before {
     background: #ee9f96;  
}

.addNew-customize {   
}
.addNew-customize:before {
     background: #c2dbfe;  
}

input[type=radio] {
    width: 20px;
    height: 20px;
}

.cell {
    text-align: left;
    width: 189px;
    height: 140px;
}

.cellBtn {
    width: 189px;
    height: 49px;
    padding-left: 140px;
}
