{% extends "base.html" %}

{% block title %}Show stats{% endblock %}

    {% block footer %}

    <div class="container">
        <canvas id="myChart"></canvas>
    </div>
     
    <script>
    let myChart = document.getElementById('myChart').getContext('2d');

    // Global Options
    Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#b0a4a4';

    let massPopChart = new Chart(myChart, {
      type:'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
      data:{

        labels:[
        {% for expense in expensesTotalSum %}
        '{{ expense.expense_name }}'{% if loop.last == 0 %},{% endif %}

        {% endfor %}
        ],

        datasets:[{
          label:'Expenses',
          data:[
            {% for expense in expensesTotalSum %}
            {{ expense.TotalSum }},
            {% endfor %}
          ],
          backgroundColor:'red'
        }]
      },
      options:{
        title:{
          display:true,
          text:'Chart of expense for an indicated period by category ({{ current_user.currency }})',
          fontSize:20
        },
        legend:{
          display:true,
          position:'right',
          labels:{
            fontColor:'#b0a4a4'
          }
        },
        layout:{
          padding:{
            left:50,
            right:0,
            bottom:0,
            top:0
          }
        },
        tooltips:{
          enabled:true
        },
        plugins: {
            colorschemes: {
                scheme: 'office.Slate6'
            }
        }
      }
    });
  </script>

  {% endblock %}

  {% block body %}
  <div class="welcome-container">
    <h1>Expense stats for indicated peroid</h1>

    <dl class="row">
        <dt class="col-sm-4">Expenses sum</dt>
        <dd class="col-sm-8">>{{ expensesSum.Sum }} {{ current_user.currency }}</dd>
        <dt class="col-sm-4">The greatest expense</dt>
        <dd class="col-sm-8">>{{ greatestExpense.greatestAmount }} {{ current_user.currency }}</dd>
        <dt class="col-sm-4">number of expense records</dt>
        <dd class="col-sm-8">>{{ numerOfExpenses }}</dd>
    </dl>
  </div><br /><br />

  {% endblock %}

