{% extends "base.html" %}

{% block title %}Show expenses{% endblock %}

{% block footer %}

{% endblock %}

{% block body %}
<div class="welcome-container">
    <h1>
        Show expenses
    </h1>
    {% if expenseModel.errors is not empty %}
    <p>
        Errors:
    </p>
    <ul>
        {% for error in expenseModel.errors %}
        <li>
            {{ error }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/expense/show" method="post">
        <div>
            <div class="mt-3">
                <h3>
                    Peroid:
                </h3>
                <strong>
                    {{ selected }}
                </strong>
            </div>
        </div>
        <div class="form-group">
            <input checked="" class="form-check-input" id="peroid1" name="peroid" onclick="document.getElementById('hidden').style.display='none';" type="radio" value="1">
                <label for="peroid1">
                    Current month
                </label>
            </input>
        </div>
        <div class="form-group">
            <input class="form-check-input" id="peroid2" name="peroid" onclick="document.getElementById('hidden').style.display='none';" type="radio" value="2">
                <label for="peroid2">
                    Previous month
                </label>
            </input>
        </div>
        <div class="form-group">
            <input class="form-check-input" id="peroid3" name="peroid" onclick="document.getElementById('hidden').style.display='block';" type="radio" value="3">
                <label for="peroid3">
                    Custom peroid:
                </label>
            </input>
        </div>
        <div class="form-group" id="hidden" style="display: none">
            <hr/>
            <input class="form-control" name="date1" type="date">
                <input class="form-control" name="date2" type="date">
                    <hr>
                    </hr>
                </input>
            </input>
        </div>
        <br/>
        <button class="btn btn-primary" type="submit">
            Show
        </button>
        <button class="btn btn-secondary" onclick="window.location.href='/';" type="button">
            Cancel
        </button>
    </form>
</div>
{% endblock %}
