{% extends "base.html" %}

{% block title %}Forgot password{% endblock %}

{% block body %}
<div class="welcome-container">
    <h1>
        Request password reset
    </h1>
    <form action="/password/request-reset" method="post">
        <div class="form-group">
            <label for="inputEmail">
                Email address
            </label>
            <input autofocus="" class="form-control" id="inputEmail" name="email" placeholder="Email address" requierd="" type="email"/>
        </div>
        <br/>
        <button class="btn btn-primary" type="submit">
            Send password reset
        </button>
    </form>
</div>
{% endblock %}
