{% extends "base.html" %}

{% block title %}Log in{% endblock %}

{% block body %}


<div class="welcome-container">
    <h1>Log in</h1>

    <form method="post" action="/login/create">

        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" id="inputEmail" name="email" placeholder="Email address" autofocus value="{{ email }}" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" name="password" placeholder="Password" class="form-control" />
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="remember_me" {% if remember_me %} checked="checked" {% endif %} /> Remember me
            </label>
        
        </div>
        <button type="submit" class="btn btn-outline-primary">Log in</button>
        <a href="/password/forgot">Forgot password?</a>

    </form>
    
</div>
   
{% endblock %}
