{% extends "base.html" %}

{% block title %}Payment method name edit{% endblock %}

{% block body %}
<div class="welcome-container">
    <h1>
        Payment method name edit
    </h1>
    {% if methodCatModel.errors is not empty %}
    <p>
        Errors:
    </p>
    <ul>
        {% for error in methodCatModel.errors %}
        <li>
            {{ error }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/MethodCat/edited" id="formProfile" method="post">
        <input id="catId" name="id" type="hidden" value="{{ cat.id }}">
            <div class="for-group">
                <label for="inputName">
                    Name
                </label>
                <input autofocus="" class="form-control" id="inputName" name="name" placeholder="Name" required="" value="{{ cat.name }}"/>
            </div>
            <br/>
            <button class="btn btn-primary" type="submit">
                Save
            </button>
            <button class="btn btn-secondary" onclick="window.location.href='/methodCat/show';" type="button">
                Cancel
            </button>
        </input>
    </form>
    <br/>
    or
    <p>
        <a aria-controls="collapseExample" aria-expanded="false" class="btn btn-danger" data-bs-toggle="collapse" href="#collapse" role="button">
            Delete
        </a>
    </p>
    <div class="collapse" id="collapse">
        <div class="card card-body">
            Removal of the category will remove all associated records. Are you sure?
            <form action="/methodCat/delete" id="formSignup" method="post">
                <input id="catId" name="catId" type="hidden" value="{{ cat.id }}">
                    <br/>
                    <button class="btn btn-danger" type="submit">
                        Yes, delete category
                    </button>
                    <button class="btn btn-secondary" onclick="window.location.href='/methodCat/show';" type="button">
                        Cancel
                    </button>
                </input>
            </form>
        </div>
    </div>
</div>
{% endblock %}
