{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block body %}
<div class="welcome-container">
   
    <h1>Profile</h1>

    <dl class="row">
        <dt class="col-sm-4">name</dt>
        <dd class="col-sm-8">>{{ user.name }}</dd>
        <dt class="col-sm-4">email</dt>
        <dd class="col-sm-8">>{{ user.email }}</dd>
        <dt class="col-sm-4">theme</dt>
        <dd class="col-sm-8">>{% if user.theme == 0 %}Light{% else %}Dark{% endif %}</dd>
    </dl>
    <button type="button" onclick="window.location.href='/profile/edit';"class="btn btn-primary">Edit</button>    
</div>

{% endblock %}