{% extends "base.html" %}

{% block title %}Income edit{% endblock %}

{% block body %}
<div class="welcome-container">
    <h1>Income edit</h1>

    {% if incomeModel.errors is not empty %}
    <p> Errors:</p>
    <ul>
        {% for error in incomeModel.errors %}
        <li> {{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <form method="post" id="formProfile" action="/Income/edited">
      <input type="hidden" id="incomeId" name="incomeId" value="{{ income.id }}">
      
      <div class="form-group">
            <label for="inputCategory">Category of income</label>
            <select id="inputCategory" name="category" class="form-control">
                {% for category in categories %}
                  {% if category.name == income_category.name %}
                  <option>{{ category.name }}</option>
                  {% endif %}
                {% endfor %}
                {% for category in categories %}
                  {% if category.name != income_category.name %}
                  <option>{{ category.name }}</option>
                  {% endif %}
                {% endfor %}
            </select>
      </div>

      <div class="form-group">
            <label for="inputAmount">Amount ({{ current_user.currency }})</label>
            <input id="inputAmount" type="number" step="0.01" min="0.01" autofocus required class="form-control" name="amount" placeholder="Insert income amount" value="{{ income.amount }}" />
      </div>

      <div class="form-group">
            <label for="inputDate">Date</label>
            <input id="inputDate" type="date" value='{{ income.date_of_income|date("Y-m-d") }}' required class="form-control" name="income_date"/>
      </div>

       <div class="form-group">
            <label for="inputComment">Comment</label>
            <textarea id="inputComment" name="comment" class="form-control"></textarea>
      </div>

      <br /><button type="submit" class="btn btn-primary">Save</button>
        
      <button type="button" onclick="window.location.href='/';" class="btn btn-secondary">Cancel</button>        
    </form>
    or

    <p>
      <a class="btn btn-danger" data-bs-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
        Delete
      </a>
    </p>
    <div class="collapse" id="collapse">
      <div class="card card-body">
        Are you sure you want to delete this income?
        <form method="post" action="/income/delete" id="formSignup">
        <input type="hidden" id="incomeId" name="incomeId" value="{{ income.id }}">
        <br /><button type="submit" class="btn btn-danger">Yes, delete income</button>
        </form>
      </div>
    </div>
</div>

<script type="text/javascript">
  document.getElementById("inputComment").value = "{{ income.income_comment }}";
</script>

{% endblock %}