{% extends "base.html" %}

{% block title %}New income{% endblock %}

{% block footer %}

{% endblock %}

{% block body %}
<div class="welcome-container">
    <h1>
        Add new income
    </h1>
    {% if incomeModel.errors is not empty %}
    <p>
        Errors:
    </p>
    <ul>
        {% for error in incomeModel.errors %}
        <li>
            {{ error }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="/income/create" id="formSignup" method="post">
        <div class="form-group">
            <label for="in putAmount">
                Amount ({{ current_user.currency }})
            </label>
            <input autofocus="" class="form-control" id="inputAmount" min="0.01" name="amount" placeholder="Insert income amount" required="" step="0.01" type="number"/>
        </div>
        <div class="form-group">
            <label for="inputCategory">
                Category
            </label>
            <select class="form-control" id="inputCategory" name="category" required="">
                {% for income in incomes %}
                <option>
                    {{ income.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="inputDate">
                Date
            </label>
            <input class="form-control" id="inputDate" name="date" required="" type="date" value='{{ "now"|date("Y-m-d") }}'/>
        </div>
        <div class="form-group">
            <label for="inputComment">
                Comment
            </label>
            <textarea class="form-control" id="inputComment" name="comment">
            </textarea>
        </div>
        <br/>
        <button class="btn btn-primary" type="submit">
            Add income
        </button>
    </form>
</div>
{% endblock %}
