{% extends "base.html" %}

{% block title %}Show incomes{% endblock %}

{% block footer %}

{% endblock %}

{% block body %}
    {% if incomeModel.errors is not empty %}
    <p> Errors:</p>
    <ul>
        {% for error in incomeModel.errors %}
        <li> {{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if incomes is not empty %}
    
    {% for income in incomes %}
    <div class="addNew addNew-income" onclick="location.href='#';">
        <div class="cell">
            <h5>{{ income.incomes_name }}</h5>
            <h6>{{ income.amount }} {{ current_user.currency }}</h6>
            <h6>{{ income.date_of_income|date("d-m-Y") }}</h6>
            <h7>{{ income.income_comment }}</h7>
        </div>
        
        <div class="cellBtn">
        <form method="post" action="/income/edit" id="formSignup">
             <input type="hidden" id="incomeId" name="incomeId" value="{{ income.id }}">
             <br /><button type="submit" class="btn btn-primary">Edit</button>
        </form>
        </div>
    </div> 
	{% endfor %}
    {% endif %}

{% endblock %}
