{% extends "base.html" %}

{% block title %}Incomes chart{% endblock %}

{% block footer %}

{% endblock %}

{% block body %}
    

    
<div class="welcome-container">
    <h3>Show incomes sum chart</h3>
    <form action="/income/chart" method="post">

      <div>
        <div class="mt-3"><h3>Peroid:</h3> <strong>{{ selected }}</strong></div>
      </div>
        <div class="form-group">
            <input class="form-check-input" checked type="radio" id="peroid1" value=1 name="peroid" onClick="document.getElementById('hidden').style.display='none';">  
            <label for="peroid1"> Current month </label>
        </div>

        <div class="form-group">
            <input class="form-check-input" type="radio" id="peroid2" value=2 name="peroid" onClick="document.getElementById('hidden').style.display='none';">  
            <label for="peroid2"> Previous month </label>
        </div>

        <div class="form-group">
            <input class="form-check-input" type="radio" id="peroid3" value=3 name="peroid" onClick="document.getElementById('hidden').style.display='block';">  
            <label for="peroid3"> Custom peroid: </label>
        </div>


        <div class="form-group" style="display: none" id="hidden">
            <hr />
            <input type="date" name="date1" class="form-control">
            <input type="date" name="date2" class="form-control">
            <hr>
        </div>

        <br /><button type="submit" class="btn btn-primary">Show</button>
        <button type="button" onclick="window.location.href='/';" class="btn btn-secondary">Cancel</button> 


    </form>
</div>

{% endblock %}
